In [51]:
import requests

In [53]:
download_url = "https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"
target_csv_path = "fuel_ferc.csv"

response = requests.get(download_url)
response.raise_for_status()
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("download ready.")

download ready.

In [3]:
import numpy as np
import pandas as pd

In [4]:
a = [1,2,3,4,5,6]
b = [13,21,34]

In [5]:
a.extend(b)

In [6]:
print(a)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [7]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [8]:
df = pd.read_csv('fuel_ferc1.csv')

In [9]:
df

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [10]:
ques3 = df[['fuel_type_code_pudl', 'fuel_cost_per_unit_burned']]
ques3

      fuel_type_code_pudl  fuel_cost_per_unit_burned
0                    coal                      18.59
1                    coal                      18.58
2                    coal                      39.72
3                    coal                      47.21
4                     gas                       2.77
...                   ...                        ...
29518                 gas                       4.78
29519                 gas                       3.65
29520                 gas                       4.77
29521                coal                       3.06
29522                 gas                       0.00

[29523 rows x 2 columns]

In [38]:
ques3.min()

fuel_type_code_pudl            coal
fuel_cost_per_unit_burned   -276.08
dtype: object

In [12]:
ques4 = df['fuel_mmbtu_per_unit']
ques4

0        16.590
1        16.592
2        24.130
3        23.950
4         1.000
          ...
29518     1.059
29519     1.050
29520     1.060
29521    16.108
29522     1.059
Name: fuel_mmbtu_per_unit, Length: 29523, dtype: float64

In [13]:
ques4.describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [14]:
ques5 = df['fuel_qty_burned']
ques5

0         5377489.0
1        10486945.0
2         2978683.0
3         3739484.0
4           40533.0
            ...
29518       18799.0
29519      806730.0
29520      104554.0
29521      315945.0
29522       17853.0
Name: fuel_qty_burned, Length: 29523, dtype: float64

In [15]:
ques5.describe()

count    2.952300e+04
mean     2.622119e+06
std      9.118004e+06
min      1.000000e+00
25%      1.381700e+04
50%      2.533220e+05
75%      1.424034e+06
max      5.558942e+08
Name: fuel_qty_burned, dtype: float64

In [26]:
x = df.isnull().sum()
x

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [25]:
len(df)

29523

In [28]:
z = x / len(df)
z

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.006097
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

In [29]:
z.mean()

0.0005542673970679254

In [30]:
df.isna().mean().round(4) * 100

record_id                       0.00
utility_id_ferc1                0.00
report_year                     0.00
plant_name_ferc1                0.00
fuel_type_code_pudl             0.00
fuel_unit                       0.61
fuel_qty_burned                 0.00
fuel_mmbtu_per_unit             0.00
fuel_cost_per_unit_burned       0.00
fuel_cost_per_unit_delivered    0.00
fuel_cost_per_mmbtu             0.00
dtype: float64

In [31]:
df

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [33]:
ques10 = df[['report_year', 'fuel_cost_per_unit_delivered']]
ques10

       report_year  fuel_cost_per_unit_delivered
0             1994                         18.53
1             1994                         18.53
2             1994                         38.12
3             1994                         45.99
4             1994                          2.77
...            ...                           ...
29518         2018                          4.78
29519         2018                          3.65
29520         2018                          4.77
29521         2018                         14.76
29522         2018                          0.00

[29523 rows x 2 columns]

In [37]:
ques10.max()

report_year                        2018.0
fuel_cost_per_unit_delivered    7964521.0
dtype: float64

In [47]:
ques9 = df[['fuel_type_code_pudl','report_year', 'fuel_cost_per_unit_burned']]
ques9

      fuel_type_code_pudl  report_year  fuel_cost_per_unit_burned
0                    coal         1994                      18.59
1                    coal         1994                      18.58
2                    coal         1994                      39.72
3                    coal         1994                      47.21
4                     gas         1994                       2.77
...                   ...          ...                        ...
29518                 gas         2018                       4.78
29519                 gas         2018                       3.65
29520                 gas         2018                       4.77
29521                coal         2018                       3.06
29522                 gas         2018                       0.00

[29523 rows x 3 columns]

In [49]:
j = df['fuel_type_code_pudl']
j

0        coal
1        coal
2        coal
3        coal
4         gas
         ...
29518     gas
29519     gas
29520     gas
29521    coal
29522     gas
Name: fuel_type_code_pudl, Length: 29523, dtype: object

KeyError: 'coal'